/*

Tooplate 2117 Infinite Loop

https://www.tooplate.com/view/2117-infinite-loop

*/

@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  transition: all 0.3s ease;
  color: #38B;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #D40;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #ced4da;
}

blockquote {
  font-size: 0.86em;
  line-height: 1.8em;
}

.tm-section-pad-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.tm-content-box {
  padding-top: 20px;
  padding-bottom: 40px;
}

.tm-text-primary {
  color: black;
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: white;
  background-color: #369;
  padding: 14px 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #38B;
}

/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #38B;
}

.tm-navbar.scroll .navbar-brand {
  color: #369;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: black !important;  /* 使用黑色字体 */
  font-size: 18px;           /* 调整字体大小 */
  font-weight: bold;         /* 增加字体粗细，保持视觉效果 */
}


.tm-navbar.scroll .tm-nav-link {
  color: #369;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #FFF;
  background-color: #369;
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #707070;
}

.tm-navbar.scroll .navbar-toggler-icon {
  color: #707070;
}

/* Hero */

#infinite {
  background-color: white;
  /*background-image: url(../img/infinite-loop-01.jpg);*/
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #infinite {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #infinite {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #infinite {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #infinite {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #infinite {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
}

.tm-hero-title {
  font-size: 5rem;
  color: black;
  text-shadow: 2px 2px 2px #333;
}

.tm-hero-subtitle {
  text-shadow: 2px 2px 2px #333;
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  display: block;
  margin-top: 18%;
}

.tm-down-arrow {
  color: #FFF;
  cursor: pointer;
  background: #357;
  padding: 15px 40px;
  transition: all 0.3s ease;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: #FFF;
  background: #37A;
  padding: 20px 50px;
}

/* Introduction */

#introduction {
  padding-bottom: 100px;
}


.tm-icon {
  display: block;
  color: #37A;
}

.tm-continue {
  padding: 20px 0 30px 0;
}

/* Testimonials */
#testimonials {
  color: white;
  background-image: url(../img/infinite-loop-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

@media (max-width: 991px) {
  #testimonials {
    background-image: url(../img/infinite-loop-02-mobile.jpg);
  }
}

.tm-testimonials-content {
  position: relative;
  z-index: 100;
}

.tm-bg-overlay {
  width: 100%;
  height: 100%;
  background: rgba(20, 70, 80, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.tm-testimonials-carousel {
  max-width: 1050px;
  margin: 0 auto;
}

.tm-testimonial-item {
  max-width: 290px;
  margin-left: 35px;
  margin-right: 35px;
}

.tm-testimonial-item img {
  border-radius: 50%;
  margin-bottom: 35px;
}

.tm-testimonial-item figcaption {
  text-align: right;
  font-style: italic;
  font-size: 1.1rem;
}

/* Work */

.tm-section-desc {
  max-width: 650px;
  width: 100%;
  font-size: 0.9rem;
}

.tm-gallery-container {
  padding-top: 70px;
  padding-bottom: 120px;
}

.tm-gallery-item {
  margin: 0 15px;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #3ba0dd;
}

.tm-testimonials-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.tm-testimonials-carousel .slick-dots li button:hover:before,
.tm-testimonials-carousel .slick-dots li button:focus:before,
.tm-testimonials-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 18px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-size: 0.9em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 600;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #4a3753;
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.4;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #38C;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-container-gallery {
  padding-top: 30px;
}

/* Contact */

#contact {
  color: white;
  background-color: #001828;
  background-image: url(../img/infinite-loop-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 980px;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
}

.contact-item {
  margin-left: 20px;
  margin-bottom: 50px;
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  color: white;
  transition: all 0.3s ease;
}

.item-link:hover i,
.item-link:hover span {
  color: #3496d8;
}

.tm-input {
  margin: 0 0 20px 0;
  width: 90%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.tm-btn-submit {
  font-size: 0.9em;
  color: #fff;
  background-color: #369;
  width: 50%;
  margin-bottom: 60px;
}

.tm-btn-submit:hover {
  color: #fff;
  background-color: #38B;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer a {
  color: #fff;
}

.tm-footer a:hover {
  color: #9CF;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #38B;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 0px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #707070;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-container-2 {
    max-width: 350px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}


/*timeline*/
/*.container {*/
/*  max-width: 800px;*/
/*  margin: 0 auto;*/
/*  padding: 0 15px;*/
/*}*/

.tm-section-title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
.timeline-section {
  position: relative;
}

.timeline {
  position: relative;
  height: 500px; /* 固定高度 */
  overflow-y: auto; /* 允许垂直滚动 */
  padding-right: 20px; /* 为滚动条留出空间 */
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: calc(100% + 500px);
  width: 2px;
  background: #333;
  z-index: 1; 
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  z-index: 2; /* 确保内容在线之上 */
}
.timeline-content {
  position: relative;
  width: calc(50% - 30px);
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.timeline-item:nth-child(odd) .timeline-content {
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content {
  left: calc(50% + 30px);
}
.timeline-dot {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #333;
  border-radius: 50%;
  transform: translateX(-50%);
}
.timeline-content h3 {
  margin-top: 0;
  color: #333;
}
.timeline-content p {
  margin: 5px 0 0;
  color: #666;
}

/* 自定义滚动条样式 */
.timeline::-webkit-scrollbar {
  width: 8px;
}
.timeline::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.timeline::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.timeline::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.timeline::after {
  content: '';
  display: block;
  height: 50px;
}
/*timeline*/

/*leaderboard*/
.leaderboard-section {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.section-title {
  text-align: center;
  color: #000;
  margin-bottom: 40px;
  font-size: 3em;
}

.leaderboard-table {
  max-width: 1000px; /* 增加最大宽度 */
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.leaderboard-header {
  display: flex;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.header-cell {
  flex: 1;
  padding: 20px;
  text-align: center;
  font-size: 1.2em; /* 增加字体大小 */
}

.leaderboard-row {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

.leaderboard-row:last-child {
  border-bottom: none;
}

.leaderboard-row:nth-child(even) {
  background-color: #f5f5f5;
}

.leaderboard-row:hover {
  background-color: #e8e8e8;
}

.row-cell {
  flex: 1;
  padding: 16px 20px;
  text-align: center;
  color: #333;
  font-size: 1.1em; /* 增加字体大小 */
}

@media (max-width: 768px) {
  .leaderboard-table {
    font-size: 16px;
  }

  .header-cell, .row-cell {
    padding: 14px;
  }

  .section-title {
    font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  .leaderboard-table {
    font-size: 14px;
  }

  .header-cell, .row-cell {
    padding: 12px;
  }

  .section-title {
    font-size: 2em;
  }
}

/*leaderboard*/

/*news*/

.news-item {
  display: flex;
  align-items: flex-start; /* 使圆圈与正文第一行对齐 */
}

.news-circle {
  width: 10px; /* 圆圈的宽度 */
  height: 10px; /* 圆圈的高度 */
  background-color: black; /* 圆圈的颜色 */
  border-radius: 50%; /* 圆形 */
  margin-right: 10px; /* 圆圈与文本之间的间距 */
  margin-top: 20px; /* 可根据需要调整，以精确对齐 */
}


/*news*/



/*organizer*/
.tm-text-secondary {
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
  text-align: left; /* 居左对齐 */
  margin-bottom: 20px; /* 调整小标题与内容之间的间距 */
  /*padding-left: 20px; !* 调整左边距，可根据需要调整数值 *!*/
}

.organizer {
  text-align: center;
  margin-bottom: 30px; /* 控制每个卡片之间的间距 */
  transition: transform 0.3s, box-shadow 0.3s;
}

.organizer:hover {
  transform: scale(1.05); /* 放大效果 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* 发亮效果 */
}


.organizer img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 15px; /* 调整图片与名字之间的距离 */
  border-radius: 50%; /* 保持圆形图片 */
}

.organizer p {
  font-size: 1em;
  color: #333;
  margin: 0;
  margin-bottom: 5px; /* 调整名字与学校之间的间距 */
}

/*organizer*/


#Challenges {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f4f4; /* 给这个部分一个淡背景色 */
}

.tm-section-title {
  font-size: 3em; /* 调整字体大小 */
  text-align: left;
  color: #333;
  margin-bottom: 40px;
}

.tm-intro-text {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #666;
}

.task-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.task-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #007bff;
}

.task-desc {
  font-size: 1em;
  color: #555;
}

{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.tm-nav-link.active {
  color: black !important; /* 当前 section 对应的导航链接高亮显示为红色 */
  border-bottom: 2px solid red; /* 添加下划线 */
}

.large-image-section {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30vh; /* 设置为视窗高度 */
  display: flex;
  justify-content: center; /* 图片水平居中 */
  align-items: center; /* 图片垂直居中 */
  background-color: #f4f4f4; /* 你可以根据需要选择背景颜色 */
}

.large-image {
  max-width: 100%; /* 确保图片不会超出屏幕宽度 */
  height: auto; /* 保持图片比例 */
  object-fit: cover; /* 如果图片有多余部分，确保它填充整个容器 */
}

.contact-logo {
  width: 150px; /* 图片宽度 */
  height: 150px; /* 图片高度 */
  border-radius: 50%; /* 将图片裁剪成圆形 */
  object-fit: cover; /* 确保图片按比例填充 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加轻微阴影效果 */
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.task-slider {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}
.task-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}
.task-item {
  flex: 0 0 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.task-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.task-desc {
  font-size: 1rem;
  line-height: 1.4;
}
.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.slider-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.slider-btn:hover {
  background-color: #0056b3;
}
.slider-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.task-gifs {
  display: flex;
  justify-content: center; /* 居中GIF */
  gap: 20px; /* 在GIF之间添加20像素的间距 */
  margin-bottom: 1rem;
}

.task-gif {
  width: 48%; /* Slightly less than 50% to account for gap */
  max-width: 400px;
  height: auto;
  border-radius: 4px;
}